$main-color: #262626;
$blue-color: #01B3FF;
$green-color: #58FF63;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262626;
    font-family: "Space Grotesk", sans-serif;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: $main-color;
    width: 100%;
    height: 64px;

    .heading {
        margin-left: 32px;
        color: $blue-color;
    }
}

.main {
    display: flex;
    flex-direction: column;

    .profile__section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .picture__container {
            margin-left: 64px;
            margin-top: 32px;

            img {
                width: 250px;
                height: 250px;
            }
        }

        .info__container {
            height: 250px;
            margin-left: 32px;

            .profile__name {
                margin-top: 32px;
                font-size: 32px;
                color: $green-color;
            }

            .role__name {
                color: $blue-color;
                font-size: 24px;
            }

            .cv__buttons__container {
                margin-top: 32px;
                .cv__buttons {
                    display: flex;
                    gap: 12px;
                    button {
                        font-family: "Space Grotesk", sans-serif;
                        background-color: $green-color;
                        font-size: 20px;
                        height: 64px;
                        padding: 5px 40px;
                        border: none;
                        clip-path: polygon(
                            0 0,
                            100% 0 ,
                            100% 100%,
                            30px 100% ,
                            0 calc(100% - 30px)
                        );
                    }
                }

                .letter__buttons {
                    display: flex;
                    gap: 12px;
                    margin-top: 16px;
                    button {
                        font-family: "Space Grotesk", sans-serif;
                        background-color: $blue-color;
                        font-size: 20px;
                        height: 64px;
                        padding: 5px 40px;
                        border: none;
                        clip-path: polygon(
                            0 0,
                            100% 0 ,
                            100% 100%,
                            30px 100% ,
                            0 calc(100% - 30px)
                        );
                    }
                }
            }
        }
    }

    .portfolio__section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 64px;
        .work__card {
            display: flex;
            flex-direction: column;
            height: 400px;
            justify-content: center;
            align-items: center;
            border: solid 2px $green-color;
            img {
                width: 300px;
            }
        }
    }
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;

    p{
        margin-bottom: 32px;
        color: $blue-color;
        font-size: 20px;
    }
}